<div class="container-form">
  <mat-card>
    <mat-card-title>Cadastro de Fornecedores</mat-card-title>
    <mat-card-content class="matCardContent">
      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <!-- CPF/CNPJ -->
        <mat-form-field appearance="outline" class="full-width30 mgRight10">
          <mat-label>CPF/CNPJ</mat-label>
          <input
            matInput
            formControlName="cpfCnpj"
            placeholder="Digite o cpf ou cnpj"
            autocomplete="off"
            inputmode="numeric" pattern="[0-9]*"
            (input)="onCnpjChange()"
          />
        </mat-form-field>

        <!--Nome/Razao Social-->
        <mat-form-field appearance="outline" class="full-width60 uppercase">
          <mat-label>Nome/Razao Social</mat-label>
          <input
            matInput
            formControlName="nomeRazaoSocial"
            placeholder="Digite o nome"
            appUpperCase
            autocomplete="off"
          />
        </mat-form-field>

        <!--Inscrição Estadual-->
        <mat-form-field appearance="outline" class="full-width40 mgRight10 ">
          <mat-label>Inscrição Estadual</mat-label>
          <input
            matInput
            formControlName="inscEstadual"
            placeholder="Digite a inscrição estadual"
            autocomplete="off"
          />
        </mat-form-field>

        <!--Inscrição Municipal-->
        <mat-form-field appearance="outline" class="full-width40 ">
          <mat-label>Inscrição Municipal</mat-label>
          <input
            matInput
            formControlName="inscMunicipal"
            placeholder="Digite a inscrição municipal"
            autocomplete="off"
          />
        </mat-form-field>

        <!-- Telefone -->
        <mat-form-field appearance="outline" class="full-width30 mgRight10">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            formControlName="telefone"
            placeholder="Digite o telefone"
            autocomplete="off"
          />
        </mat-form-field>

        <!-- Contato -->
        <mat-form-field appearance="outline" class="full-width60 uppercase">
          <mat-label>Contato</mat-label>
          <input
            matInput
            formControlName="contato"
            placeholder="Digite o nome do contato"
            autocomplete="off"
            appUpperCase
          />
        </mat-form-field>

        <!--Cep-->
        <mat-form-field appearance="outline" class="full-width30 mgRight10 ">
          <mat-label>Cep</mat-label>
          <input
            matInput
            formControlName="cep"ssss
            placeholder="Digite o Cep(somente números)"
            autocomplete="off"
            inputmode="numeric" pattern="[0-9]*"
            (input)="onCepChange()"
          />
        </mat-form-field>

        <!--Rua-->
        <mat-form-field appearance="outline" class="full-width60 uppercase">
          <mat-label>Logradouro</mat-label>
          <input
            matInput
            formControlName="rua"
            placeholder="Digite o endereço"
            autocomplete="off"

          />
        </mat-form-field>

        <!-- Numero -->
        <mat-form-field appearance="outline" class="full-width30 mgRight10">
          <mat-label>Numero</mat-label>
          <input
            matInput
            formControlName="numero"
            placeholder="Digite o numero"
            autocomplete="off"
          />
        </mat-form-field>

        <!-- Bairro -->
        <mat-form-field appearance="outline" class="full-width30 mgRight10 uppercase">
          <mat-label>Bairro</mat-label>
          <input
            matInput
            formControlName="bairro"
            placeholder="Digite o Bairro"
            autocomplete="off"

          />
        </mat-form-field>

        <!-- Cidade -->
        <mat-form-field appearance="outline" class="full-width30 uppercase">
          <mat-label>Cidade</mat-label>
          <input
            matInput
            formControlName="cidade"
            placeholder="Digite a Cidade"
            autocomplete="off"

          />
        </mat-form-field>

        <!-- Estado -->
        <mat-form-field appearance="outline" class="full-width30 mgRight10 uppercase">
          <mat-label>Estado</mat-label>
          <input
            matInput
            formControlName="estado"
            placeholder="Digite o estado"
            autocomplete="off"

          />
        </mat-form-field>

        <!-- Complemento -->
        <mat-form-field appearance="outline" class="full-width60 uppercase">
          <mat-label>Complemento</mat-label>
          <input
            matInput
            formControlName="complemento"
            placeholder="Digite o complemento"
            autocomplete="off"

          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Salvar</button>


      </form>
    </mat-card-content>
  </mat-card>
</div>
