<div>
  <app-cadastrar-usuario [typeScreen]="screen" [objElement]="element" (screenEvent)="onScreen($event)"></app-cadastrar-usuario>
  <!-- <app-editar-usuario></app-editar-usuario> -->
  <app-listar-usuario [typeScreen]="screen" (screenEvent)="onScreen($event)" ></app-listar-usuario>
</div>

<!-- <div>
  <app-cadastrar-usuario [typeScreen]="screen" (screenEvent)="onScreen($event)"></app-cadastrar-usuario> -->
  <!-- <app-editar-usuario></app-editar-usuario> -->
 <!--  <app-listar-usuario [typeScreen]="screen" (screenEvent)="onScreen($event)"></app-listar-usuario>
</div>
 -->
